:root{
    --primary-color: rgb(0, 102, 255);
}

*{
    margin: 0;
    padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1,5;
    color: rgb(0, 0, 0);
}

#showcase{
    background-image: url(../img/frank-mckenna-OD9EOzfSOh0-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

#showcase::after{
    content: "";
    position:absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}

h1, p, a{
    z-index: 2;
}

a{
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 3px;
    color: rgb(0, 0, 0);
    border-radius: 8px;
}

a:hover{
    color:var(--primary-color);
    background-color: rgb(255, 255, 255);
}

#section-a{
    text-align: center;
}

.fonsOrange{
    background-color:var(--primary-color);
    color: white;
}

#section-b{
    background-color:rgb(255, 255, 255);
    
}

#section-c{
    display:flex;
}

div{
    padding: 20px;

}
